In [47]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn import metrics
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [48]:
data = pd.read_csv("pd_speech_features.csv")

data.head()

,id,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,...,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36,class
0,0,1,0.85247,0.71826,0.57227,240,239,0.008064,0.000087,0.00218,...,1.5620,2.6445,3.8686,4.2105,5.1221,4.4625,2.6202,3.0004,18.9405,1
1,0,1,0.76686,0.69481,0.53966,234,233,0.008258,0.000073,0.00195,...,1.5589,3.6107,23.5155,14.1962,11.0261,9.5082,6.5245,6.3431,45.1780,1
2,0,1,0.85083,0.67604,0.58982,232,231,0.008340,0.000060,0.00176,...,1.5643,2.3308,9.4959,10.7458,11.0177,4.8066,2.9199,3.1495,4.7666,1
3,1,0,0.41121,0.79672,0.59257,178,177,0.010858,0.000183,0.00419,...,3.7805,3.5664,5.2558,14.0403,4.2235,4.6857,4.8460,6.2650,4.0603,1
4,1,0,0.32790,0.79782,0.53028,236,235,0.008162,0.002669,0.00535,...,6.1727,5.8416,6.0805,5.7621,7.7817,11.6891,8.2103,5.0559,6.1164,1

In [49]:
data.shape                          #Getting the no. of attributes in the dataset

(756, 755)

In [50]:
data.isnull().sum()                 # checking if any null values exist

id                           0
gender                       0
PPE                          0
DFA                          0
RPDE                         0
                            ..
tqwt_kurtosisValue_dec_33    0
tqwt_kurtosisValue_dec_34    0
tqwt_kurtosisValue_dec_35    0
tqwt_kurtosisValue_dec_36    0
class                        0
Length: 755, dtype: int64

In [51]:
scaler = StandardScaler()
X_Scale = scaler.fit_transform(data)        # performing Scaling on the dataset
print(X_Scale)

[[-1.72519117  0.96874225  0.62764391 ... -0.81472704 -0.36659507
   0.58345997]
 [-1.72519117  0.96874225  0.12161952 ... -0.58297219  0.40039616
   0.58345997]
 [-1.72519117  0.96874225  0.61795018 ... -0.8043897  -0.7809355
   0.58345997]
 ...
 [ 1.72519117 -1.03226633  0.81336154 ... -0.79017671 -0.77287314
  -1.71391365]
 [ 1.72519117 -1.03226633  0.54105055 ... -0.82631929 -0.81173208
  -1.71391365]
 [ 1.72519117 -1.03226633  0.3945807  ... -0.84098293 -0.82811405
  -1.71391365]]

In [52]:
data['class'].value_counts()

1    564
0    192
Name: class, dtype: int64

In [53]:
X = data.drop('class',axis=1).values        #Dropping the attribute class as it is irrelevant
y = data['class'].values

In [54]:
pca = PCA(n_components=3)                           # applying PCA with 3 components
principalComponents = pca.fit_transform(X)

principalDf = pd.DataFrame(data = principalComponents, columns = ['principal component 1', 'principal component 2', 'principal component 3'])

finalDf = pd.concat([principalDf, data[['class']]], axis = 1)
finalDf.head()

   principal component 1  principal component 2  principal component 3  class
0          -5.815816e+09           4.701391e+06          -6.210264e+05      1
1          -6.029399e+09           4.610122e+06          -4.198081e+05      1
2          -6.159184e+09           5.578720e+06          -4.115108e+05      1
3          -7.197145e+09           5.943199e+07           1.355807e+06      1
4          -6.423357e+09           8.714129e+07           1.791626e+07      1

In [55]:
X1 = finalDf.drop('class',axis=1).values
Y1 = finalDf['class'].values 
X_train, X_test, Y_train, Y_test = train_test_split(X1,Y1, test_size=0.3,random_state=0)  
#Splitting data into training and testing

In [56]:
svc =SVC()      # intializing SVM classifier

svc.fit(X_train,Y_train)        #fitting classifier on training dataset

y_pred = svc.predict(X_test)             # predicting for test data

In [57]:
accu = accuracy_score(Y_test,y_pred)*100
print("Accuracy as per SVM model is:",accu)     #Predicting the accuracy using SVM

Accuracy as per SVM model is: 75.77092511013215