# Question-3

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, normalize
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn import preprocessing
np.set_printoptions(precision=4)
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder     #Library to encode the target column
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis    #Library to preprocess the data using LDA

In [17]:
data = pd.read_csv("Iris.csv")

data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [18]:
data.shape          # fetching attributes and records in given dataset

(150, 6)

In [19]:
data.isnull().sum()     # getting if any null values are present in the dataset

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [20]:
classLabel = LabelEncoder()
Y = classLabel.fit_transform(data["Species"].values)
X = data.iloc[:,range(0,4)].values     # Encoding the target column of the dataset

In [21]:
LDA = LinearDiscriminantAnalysis(n_components=2)      #Using k=2 components and implementing LDA

X_train_LDA = LDA.fit_transform(X, Y)

In [22]:
df=pd.DataFrame(X_train_LDA)
df['class']=Y
df.columns=["LDA1","LDA2","class"]
df.head()     #Displaying the data after preprocessing with LDA

       LDA1      LDA2  class
0  9.423452 -0.513976      0
1  8.751900 -1.591678      0
2  8.973004 -1.068204      0
3  8.170186 -1.435135      0
4  9.249789 -0.136869      0

# Question-4

In [23]:
pca = PCA(n_components=2)                   #Now implementing PCA to identify the difference in PCA and LDA pre processing
principalComponents = pca.fit_transform(X)
principalDf = pd.DataFrame(data = principalComponents, columns = ['Principal Component 1', 'Principal Component 2'])
finalDf = pd.concat([principalDf, df[['class']]], axis = 1)
finalDf.head()

   Principal Component 1  Principal Component 2  class
0              74.541053               0.408042      0
1              73.542545               0.274103      0
2              72.550398               0.043474      0
3              71.544942               0.125560      0
4              70.545790               0.203177      0

# The major difference between PCA and LDA is PCA is an unsupervised learning algorithm while LDA is a supervised learning algorithm. 
# Both LDA and PCA rely on linear transformations and aim to maximize the variance in a lower dimension. 
# However, unlike PCA, LDA finds the linear discriminants in order to maximize the variance between the different categories while minimizing the variance within the class